body{
    text-align: center;
}

table{
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    border: 1px double black;
}

td{
    border:1px solid blue ;
}
th{
    border: 1.5px dotted red;
    color: rgb(53, 59, 17);
}